# Importing Fire Dataset

In [2]:
import pandas as pd
import sqlite3

In [3]:
pd.set_option('display.max_rows', 999)
pd.set_option('display.max_columns', 999)

In [14]:
conn = sqlite3.connect('../data/FPA_FOD_20170508.sqlite')

fires = pd.read_sql_query("SELECT * FROM fires", conn)

fires.head()

# code --> https://www.kaggle.com/dansbecker/creating-reading-and-writing-reference-daily

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,LOCAL_FIRE_REPORT_ID,LOCAL_INCIDENT_ID,FIRE_CODE,FIRE_NAME,ICS_209_INCIDENT_NUMBER,ICS_209_NAME,MTBS_ID,MTBS_FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,1,PNF-47,BJ8K,FOUNTAIN,None,None,None,None,None,2005,2453403.5,33,1300,9.0,Miscellaneous,2453403.5,33.0,1730,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,13,13,AAC0,PIGEON,None,None,None,None,None,2004,2453137.5,133,0845,1.0,Lightning,2453137.5,133.0,1530,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,27,021,A32W,SLACK,None,None,None,None,None,2004,2453156.5,152,1921,5.0,Debris Burning,2453156.5,152.0,2024,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,43,6,None,DEER,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1400,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,44,7,None,STEVENOT,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1200,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [15]:
features = ['NWCG_REPORTING_UNIT_NAME',
            'FIRE_NAME',
            'COMPLEX_NAME', 
            'FIRE_YEAR', 
            'DISCOVERY_DATE', 
            'DISCOVERY_DOY',
            'DISCOVERY_TIME', 
            'STAT_CAUSE_DESCR', 
            'CONT_DATE',
            'CONT_DOY', 
            'CONT_TIME', 
            'FIRE_SIZE', 
            'FIRE_SIZE_CLASS', 
            'LATITUDE',
            'LONGITUDE', 
            'STATE', 
            'COUNTY']

In [17]:
fires_df = fires[features]
fires.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,LOCAL_FIRE_REPORT_ID,LOCAL_INCIDENT_ID,FIRE_CODE,FIRE_NAME,ICS_209_INCIDENT_NUMBER,ICS_209_NAME,MTBS_ID,MTBS_FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,1,PNF-47,BJ8K,FOUNTAIN,None,None,None,None,None,2005,2453403.5,33,1300,9.0,Miscellaneous,2453403.5,33.0,1730,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,13,13,AAC0,PIGEON,None,None,None,None,None,2004,2453137.5,133,0845,1.0,Lightning,2453137.5,133.0,1530,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,27,021,A32W,SLACK,None,None,None,None,None,2004,2453156.5,152,1921,5.0,Debris Burning,2453156.5,152.0,2024,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,43,6,None,DEER,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1400,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,44,7,None,STEVENOT,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1200,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [19]:
fires.shape, fires_df.shape

((1880465, 39), (1880465, 17))

In [8]:
fires.FIRE_SIZE_CLASS.value_counts()

B    939376
A    666919
C    220077
D     28427
E     14107
F      7786
G      3773
Name: FIRE_SIZE_CLASS, dtype: int64

In [ ]:
fires_

In [20]:
fires_df.dtypes

NWCG_REPORTING_UNIT_NAME     object
FIRE_NAME                    object
COMPLEX_NAME                 object
FIRE_YEAR                     int64
DISCOVERY_DATE              float64
DISCOVERY_DOY                 int64
DISCOVERY_TIME               object
STAT_CAUSE_DESCR             object
CONT_DATE                   float64
CONT_DOY                    float64
CONT_TIME                    object
FIRE_SIZE                   float64
FIRE_SIZE_CLASS              object
LATITUDE                    float64
LONGITUDE                   float64
STATE                        object
COUNTY                       object
dtype: object

modeling ideas:

In [ ]:
# https://www.kaggle.com/edhirif/predict-the-causes-of-wildfires-using-python

In [ ]:
# https://www.kaggle.com/captcalculator/can-we-use-ml-to-predict-the-cause-of-a-wildfire

### SQL Tables in Original File

In [28]:
# conn = sqlite3.connect('../data/FPA_FOD_20170508.sqlite')
conn_cursor = conn.cursor()
conn.text_factory = str


res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])
    
# code help --> https://stackoverflow.com/questions/34570260/how-to-get-table-names-using-sqlite3-through-python/34570549

spatial_ref_sys
spatialite_history
sqlite_sequence
geometry_columns
spatial_ref_sys_aux
views_geometry_columns
virts_geometry_columns
geometry_columns_statistics
views_geometry_columns_statistics
virts_geometry_columns_statistics
geometry_columns_field_infos
views_geometry_columns_field_infos
virts_geometry_columns_field_infos
geometry_columns_time
geometry_columns_auth
views_geometry_columns_auth
virts_geometry_columns_auth
sql_statements_log
SpatialIndex
ElementaryGeometries
KNN
Fires
idx_Fires_Shape
idx_Fires_Shape_node
idx_Fires_Shape_rowid
idx_Fires_Shape_parent
NWCG_UnitIDActive_20170109

### Write Dataframe to CSV

In [29]:
# fires.to_csv('../data/fires.csv')

In [30]:
fires.columns

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [31]:
# https://www.kaggle.com/edhirif/predict-the-causes-of-wildfires-using-python

In [32]:
# https://www.kaggle.com/onnirantanen/predicting-the-causes-of-wildfires-part-2

### Temperature Data

In [33]:
temp = pd.read_csv('../data/Temp/GlobalLandTemperaturesByCity.csv')
temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [34]:
temp.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [35]:
temp.Country.value_counts()

India                                 1014906
China                                  827802
United States                          687289
Brazil                                 475580
Russia                                 461234
Japan                                  358669
Indonesia                              323255
Germany                                262359
United Kingdom                         220252
Mexico                                 209560
Nigeria                                172347
Spain                                  159594
Iran                                   151651
Turkey                                 150306
Pakistan                               139231
Italy                                  136038
Philippines                            127700
Poland                                 123082
France                                 116604
South Africa                            94050
Venezuela                               91080
Colombia                                88017
Romania                                 80975
Netherlands                             77736
Ukraine                                 77736
Canada                                  75445
Malaysia                                72480
Vietnam                                 66330
Argentina                               62504
Taiwan                                  62190
Burma                                   50566
Thailand                                49685
Bangladesh                              49647
Egypt                                   47538
Chile                                   45568
Congo (Democratic Republic Of The)      44547
Peru                                    37633
Kazakhstan                              36551
Cuba                                    32046
Tanzania                                31440
Morocco                                 29946
Libya                                   29926
Hungary                                 29151
Australia                               28478
Cameroon                                28395
Belarus                                 25912
Côte D'Ivoire                           25701
Mozambique                              24000
Sri Lanka                               23517
Belgium                                 22673
Bulgaria                                22673
Ecuador                                 22648
Portugal                                22233
Israel                                  22140
Greece                                  21981
Dominican Republic                      20493
Guatemala                               20277
Serbia                                  19434
Sudan                                   18798
Nepal                                   18291
Syria                                   18056
Ghana                                   17793
Uzbekistan                              17676
New Zealand                             17505
Ethiopia                                17469
Afghanistan                             17125
Madagascar                              16326
Switzerland                             16195
Finland                                 16195
Lithuania                               16195
Austria                                 16195
Sweden                                  16195
Czech Republic                          16195
Bosnia And Herzegovina                  16195
Tunisia                                 15975
Senegal                                 15816
Algeria                                 15645
Zambia                                  15636
Saudi Arabia                            14163
Zimbabwe                                13755
Denmark                                 12956
Norway                                  12956
El Salvador                             12708
Benin                                   11862
Kenya                                   11790
Bolivia                                 11406
Haiti                                   11397
Honduras                                11325
Angola                                  11283
Paraguay                                10905
Albania                                  9717
Croatia                                  9717
Iraq                                     9717
Moldova                                  9717
Somalia                                  9657
Nicaragua                                8700
Armenia                                  8415
Guinea                                   7908
Lebanon                                  7798
Turkmenistan                             6939
Jamaica                                  6831
Puerto Rico                              6831
Estonia                                  6478
Ireland                                  6478
Macedonia                                6478
Slovakia                                 6478
Latvia                                   6478
United Arab Emirates                     6147
Mali                                     5931
Uganda                                   5895
Niger                                    5763
Panama                                   4530
Uruguay                                  4362
Tajikistan                               4362
Gambia                                   3954
Togo                                     3954
Burkina Faso                             3954
Sierra Leone                             3954
Malawi                                   3930
Equatorial Guinea                        3786
Gabon                                    3786
Chad                                     3786
Yemen                                    3450
Montenegro                               3239
Slovenia                                 3239
Iceland                                  3165
Bahamas                                  3067
Georgia                                  2805
Mauritius                                2721
Reunion                                  2721
Cyprus                                   2669
Jordan                                   2460
Azerbaijan                               2460
Laos                                     2371
Mongolia                                 2318
Guyana                                   2277
Suriname                                 2277
Cambodia                                 2265
Singapore                                2265
South Korea                              2097
Hong Kong                                2082
Qatar                                    2049
Bahrain                                  2049
Mauritania                               1977
Guinea Bissau                            1977
Liberia                                  1977
Rwanda                                   1965
Burundi                                  1965
Costa Rica                               1953
Central African Republic                 1893
Congo                                    1893
Swaziland                                1881
Botswana                                 1881
Lesotho                                  1881
Namibia                                  1881
Djibouti                                 1797
Eritrea                                  1797
Oman                                     1653
Papua New Guinea                         1581
Name: Country, dtype: int64

In [36]:
city_temp = temp[temp.Country == 'United States']
city_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W

In [37]:
city_temp.City.value_counts()

Springfield          9545
Columbus             6478
Aurora               6101
Arlington            5564
Peoria               5384
Richmond             5216
Pasadena             4302
Glendale             4122
Waterbury            3239
Hampton              3239
Providence           3239
Virginia Beach       3239
Tallahassee          3239
Alexandria           3239
South Bend           3239
Pittsburgh           3239
Hartford             3239
Dayton               3239
Allentown            3239
Cedar Rapids         3239
Toledo               3239
Rochester            3239
Green Bay            3239
Cary                 3239
Milwaukee            3239
Columbia             3239
Paterson             3239
Boston               3239
Yonkers              3239
Windsor              3239
Huntsville           3239
Sterling Heights     3239
Orlando              3239
New York             3239
Clearwater           3239
Cleveland            3239
Stamford             3239
Flint                3239
Toms River           3239
Lexington Fayette    3239
Bridgeport           3239
Memphis              3239
Raleigh              3239
Naperville           3239
Lowell               3239
Chicago              3239
Baltimore            3239
Chesapeake           3239
Madison              3239
Jersey City          3239
Cincinnati           3239
Savannah             3239
Chattanooga          3239
Joliet               3239
Indianapolis         3239
Saint Petersburg     3239
Evansville           3239
New Haven            3239
Winston Salem        3239
Gainesville          3239
Syracuse             3239
Montgomery           3239
Buffalo              3239
Minneapolis          3239
Charlotte            3239
Washington           3239
Ann Arbor            3239
Atlanta              3239
Nashville            3239
Saint Louis          3239
Birmingham           3239
Warren               3239
Newark               3239
Louisville           3239
Fort Wayne           3239
Manchester           3239
Rockford             3239
Norfolk              3239
Elizabeth            3239
Akron                3239
Tampa                3239
Durham               3239
Grand Rapids         3239
Clarksville          3239
Philadelphia         3239
Knoxville            3239
Edison               3239
Newport News         3239
Jacksonville         3239
Saint Paul           3239
Cambridge            3239
Worcester            3239
Lansing              3239
Detroit              3239
Des Moines           3239
Greensboro           3239
Fayetteville         3239
Charleston           3239
Kansas City          3067
Miami                3067
Coral Springs        3067
Jackson              3067
Tulsa                3067
Metairie             3067
Lincoln              3067
Hialeah              3067
Shreveport           3067
Cape Coral           3067
Pembroke Pines       3067
Port Saint Lucie     3067
Omaha                3067
New Orleans          3067
Mobile               3067
Fort Lauderdale      3067
Baton Rouge          3067
Little Rock          3067
Sioux Falls          3067
Topeka               3067
Miramar              3067
Olathe               3067
Overland Park        3067
Hollywood            3067
Independence         3067
Oklahoma City        2941
Fort Collins         2941
Wichita              2941
Lakewood             2862
Thornton             2862
Denver               2862
Westminster          2862
Colorado Springs     2862
Norman               2862
Highlands Ranch      2862
Abilene              2325
Amarillo             2325
Wichita Falls        2325
Garland              2325
Arvada               2325
Dallas               2325
Houston              2325
Killeen              2325
San Antonio          2325
Denton               2325
Pueblo               2325
Albuquerque          2325
Waco                 2325
Irving               2325
Richardson           2325
Carrollton           2325
Lubbock              2325
Grand Prairie        2325
Beaumont             2325
Mesquite             2325
Plano                2325
Corpus Christi       2325
Fort Worth           2325
Lafayette            2325
Austin               2325
West Jordan          2303
Salt Lake City       2303
Spokane              2303
West Valley City     2303
Brownsville          2289
Laredo               2289
Nuevo Laredo         2289
El Paso              2261
Portland             2229
Salem                2229
Tacoma               2229
Anchorage            2229
Eugene               2229
Provo                2229
Seattle              2229
Bellevue             2229
Vancouver            2229
Mesa                 2145
Gilbert              2145
Roseville            2145
Tempe                2145
Paradise             2145
Reno                 2145
Chandler             2145
Spring Valley        2145
Nogales              2145
Sunrise Manor        2145
North Las Vegas      2145
Tucson               2145
Phoenix              2145
Henderson            2145
Scottsdale           2145
Las Vegas            2145
Simi Valley          1977
Irvine               1977
Santa Ana            1977
Riverside            1977
Concord              1977
Berkeley             1977
Lancaster            1977
Los Angeles          1977
San Diego            1977
East Los Angeles     1977
Salinas              1977
Huntington Beach     1977
Sacramento           1977
Fairfield            1977
Sunnyvale            1977
Ontario              1977
Hayward              1977
Downey               1977
Oxnard               1977
Rialto               1977
Bakersfield          1977
Moreno Valley        1977
Garden Grove         1977
Torrance             1977
Costa Mesa           1977
Antioch              1977
Fremont              1977
Orange               1977
West Covina          1977
Burbank              1977
Pomona               1977
Oceanside            1977
Santa Clarita        1977
Visalia              1977
Fullerton            1977
Fresno               1977
Thousand Oaks        1977
San Bernardino       1977
San Jose             1977
Escondido            1977
Norwalk              1977
Anaheim              1977
San Francisco        1977
Santa Rosa           1977
Fontana              1977
Long Beach           1977
Inglewood            1977
Santa Clara          1977
Corona               1977
Modesto              1977
Stockton             1977
Palmdale             1977
Chula Vista          1977
Vallejo              1977
Rancho Cucamonga     1977
Oakland              1977
El Monte             1977
Name: City, dtype: int64

In [38]:
sacramento = city_temp[city_temp.City == 'Sacramento']
sacramento.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
6506228,1849-01-01,8.092,2.192,Sacramento,United States,37.78N,122.03W
6506229,1849-02-01,9.508,1.850,Sacramento,United States,37.78N,122.03W
6506230,1849-03-01,11.701,2.129,Sacramento,United States,37.78N,122.03W
6506231,1849-04-01,13.102,2.559,Sacramento,United States,37.78N,122.03W
6506232,1849-05-01,14.045,1.909,Sacramento,United States,37.78N,122.03W

In [39]:
sacramento.tail()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
6508200,2013-05-01,17.434,0.327,Sacramento,United States,37.78N,122.03W
6508201,2013-06-01,19.759,0.338,Sacramento,United States,37.78N,122.03W
6508202,2013-07-01,20.657,0.360,Sacramento,United States,37.78N,122.03W
6508203,2013-08-01,19.731,0.522,Sacramento,United States,37.78N,122.03W
6508204,2013-09-01,20.471,0.826,Sacramento,United States,37.78N,122.03W

In [40]:
sacramento.dt.head(0), sacramento.dt.tail(-1)

(Series([], Name: dt, dtype: object),
 6506229    1849-02-01
 6506230    1849-03-01
 6506231    1849-04-01
 6506232    1849-05-01
 6506233    1849-06-01
               ...
 6508200    2013-05-01
 6508201    2013-06-01
 6508202    2013-07-01
 6508203    2013-08-01
 6508204    2013-09-01
 Name: dt, Length: 1976, dtype: object)